// Colors
$default-color: #444;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;

// Fonts
$serif-primary: 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
$serif-secondary: 'Cormorant Infant', serif;
$sans-serif: 'CircularStd-Book', sans-serif;
$monospaced: 'Roboto Mono', monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
